<a href="https://colab.research.google.com/github/jordy11/git_test/blob/main/TP1ParaAlumnos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Aprendizaje Profundo | Otoño 2021 by Datitos{display-mode: "form" }
#@markdown ![71335171.png]()
#El siguiente notebook fue diseñado por Pablo Marinozi como el primer trabajo práctico correspondiente a la versión de Otoño del 2021 del curso Aprendizaje Profundo organizado por Datitos 
#Para mayor información consultar https://datitos.github.io/curso-aprendizaje-profundo/#calendario

# Trabajo Práctico N°1: Preprocesamiento y Manipulación de Datos

Este trabajo práctico tiene dos partes.

El objetivo de la primera es aprender cómo preprocesar datos usando la biblioteca `pandas`.

El objetivo de la segunda es realizar ejercicios para reforzar el manejo de tensores con `Pytorch`.

## Parte 0: Importar Librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import torch

## Parte 1: Preprocesamiento de Datos

### Valores Faltantes

En esta sección del práctico vamos a trabajar con el dataset relacionado a la hepatitis. El siguiente código descarga el csv.

In [2]:
!gdown https://drive.google.com/uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1

Downloading...
From: https://drive.google.com/uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1
To: /content/hepatitis_csv.csv
100% 15.2k/15.2k [00:00<00:00, 23.4MB/s]

En primer lugar, importe los datos del archivo utilizando la biblioteca de `pandas` y conviértalos en un dataframe con la funcion `read_csv()`. Luego, a través del método `head(10)` imprima por pantalla solo las primeras 10 filas del conjunto de datos.

In [4]:
url="https://drive.google.com/uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1"
df = pd.read_csv(url)
df.head(10)

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live
5   34  female    True       False  ...     4.0    75.0     False  live
6   51  female   False       False  ...     NaN     NaN     False   die
7   23  female    True       False  ...     NaN     NaN     False  live
8   39  female    True       False  ...     4.4     NaN     False  live
9   30  female    True       False  ...     3.9     NaN     False  live

[10 rows x 20 columns]

Observamos que el dataset presenta algunos problemas. Por ejemplo, el valor de la columna `albumin` no está disponible para todas las filas. En algunos casos presenta el valor NaN, lo que significa que falta el valor.

Para verificar si nuestro dataset contiene valores faltantes, podemos usar la función `isna()`, que devuelve si una celda del conjunto de datos es NaN o no. Luego, deberemos contar cuántos valores faltantes hay para cada columna.

In [12]:
df.isna().sum()    #Sumo los valores NA por columna

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

Cuando se trata de valores faltantes, se pueden aplicar diferentes estrategias:

* ponerse en contacto con la fuente de datos para corregir los valores faltantes,
* eliminar los valores faltantes,
* reemplazar el valor faltante con algún valor y
* dejar el valor faltante como está.

La primera estrategia no siempre es factible y no creemos que necesiten nuestra ayuda para adoptar la última. En las siguientes subsecciones analizaremos las dos estrategias restantes.

#### Eliminar los valores faltantes

Hay dos maneras de eliminar los valores faltantes:

* eliminar las filas que contengan valores faltantes
* eliminar las columnas que los contengan.

Podemos usar `dropna()` para esta tarea especificando el eje a considerar. Si configuramos `axis=0`, descartamos toda la fila, si configuramos `axis=1`, descartamos toda la columna. 

Genere dos versiones nuevas del dataset utilizando la estrategia correspondiente en cada caso y analice los tamaños de los dataframes resultantes.

In [17]:
#Eliminando NA por filas (axis=0)
df_filas = df.dropna(axis=0)
df_filas

     age     sex steroid  antivirals  ... albumin protime histology class
5     34  female    True       False  ...     4.0    75.0     False  live
10    39  female   False        True  ...     4.4    85.0     False  live
11    32  female    True        True  ...     3.7    54.0     False  live
12    41  female    True        True  ...     3.9    52.0     False  live
13    30  female    True       False  ...     4.9    78.0     False  live
..   ...     ...     ...         ...  ...     ...     ...       ...   ...
139   45  female    True        True  ...     4.2    85.0      True  live
143   49  female   False       False  ...     3.5    35.0      True   die
145   31  female   False       False  ...     4.2    54.0      True  live
153   53    male   False       False  ...     4.1    48.0      True  live
154   43  female    True       False  ...     3.1    42.0      True   die

[80 rows x 20 columns]

In [19]:
#Eliminando NA por columnas (axis=1)
df_col = df.dropna(axis=1) 
df_col

     age     sex  antivirals  histology class
0     30    male       False      False  live
1     50  female       False      False  live
2     78  female       False      False  live
3     31  female        True      False  live
4     34  female       False      False  live
..   ...     ...         ...        ...   ...
150   46  female       False       True   die
151   44  female       False       True  live
152   61  female       False       True  live
153   53    male       False       True  live
154   43  female       False       True   die

[155 rows x 5 columns]

#DISCUSIÓN
En el caso de la eliminación de NA por filas (axis=0) se mantiene la cantidad de columnas pero se ve afectada en un 49% la dimensión de filas. En tanto que en el caso del axis =1 se mantiene la cantidad de filas ya que no se admite ningún valor NA en la columna pero se pierde mucha más información del dataset total.

Como alternativa, podemos especificar solo la columna en la que se debe aplicar la operación de dropping. En el siguiente ejemplo, solo se consideran las filas faltantes relacionadas con la columna `liver_big`. Esto se puede lograr a través del parámetro `subset`, que permite especificar el subconjunto de columnas donde aplicar la operación de dropping. Verifique si siguen existiendo valores NaN en el resto de las columnas.

In [25]:
df_lb = df.dropna(subset=['liver_big'])
df_lb.shape
df_lb.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             0
malaise             0
anorexia            0
liver_big           0
liver_firm          1
spleen_palpable     1
spiders             1
ascites             1
varices             1
bilirubin           4
alk_phosphate      24
sgot                2
albumin            13
protime            59
histology           0
class               0
dtype: int64

Otra alternativa consiste en eliminar las columnas en las que se dispone de un cierto porcentaje de valores no nulos. Esto se puede lograr mediante el parámetro `thresh`. Intente utilizar este parámetro para mantener solo las columnas donde haya al menos el 80% de valores no nulos.

In [28]:
df_thresh = df.dropna(axis=1,thresh=124)
df_thresh.shape
df_thresh.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
histology           0
class               0
dtype: int64

#### Reemplazar valores faltantes

Una buena estrategia a la hora de trabajar son valores faltantes implica su reemplazo por otro valor. Por lo general, se adoptan las siguientes estrategias:

* para valores numéricos, reemplazar el valor faltante con el valor promedio de la columna
* para valores categóricos, reemplazar el valor faltante con el valor más frecuente de la columna

Para averiguar el tipo de datos de las columnas podemos  usar el atributo `dtypes` de la siguiente manera

In [29]:
df.dtypes

age                  int64
sex                 object
steroid             object
antivirals            bool
fatigue             object
malaise             object
anorexia            object
liver_big           object
liver_firm          object
spleen_palpable     object
spiders             object
ascites             object
varices             object
bilirubin          float64
alk_phosphate      float64
sgot               float64
albumin            float64
protime            float64
histology             bool
class               object
dtype: object

Usando la función `select_dtypes()` podemos generar una lista que contenga los nombres de las columnas numéricas y otra que contenga los de la columnas categóricas filtrando por `np.number `y `np.object` respectivamente.

In [30]:
type_number = list(df.select_dtypes(np.number))
type_number

['age', 'bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'protime']

In [31]:
type_category = list(df.select_dtypes(np.object))
type_category

['sex',
 'steroid',
 'fatigue',
 'malaise',
 'anorexia',
 'liver_big',
 'liver_firm',
 'spleen_palpable',
 'spiders',
 'ascites',
 'varices',
 'class']

En todos los casos podemos usar la función `fillna()` para reemplazar los valores faltantes con algún valor pasado como parámetro. En el caso de las variables numéricas deberíamos reemplazarlo por la media (`mean()`) y en el caso de las variables categóricas por la moda (`mode()`). Al finalizar, comprobar si aun quedan valores faltantes en el dataset.

In [41]:
df.fillna(df.select_dtypes(np.number).mean())

     age     sex steroid  antivirals  ... albumin    protime histology class
0     30    male   False       False  ...     4.0  61.852273     False  live
1     50  female   False       False  ...     3.5  61.852273     False  live
2     78  female    True       False  ...     4.0  61.852273     False  live
3     31  female     NaN        True  ...     4.0  80.000000     False  live
4     34  female    True       False  ...     4.0  61.852273     False  live
..   ...     ...     ...         ...  ...     ...        ...       ...   ...
150   46  female    True       False  ...     3.3  50.000000      True   die
151   44  female    True       False  ...     4.3  61.852273      True  live
152   61  female   False       False  ...     4.1  61.852273      True  live
153   53    male   False       False  ...     4.1  48.000000      True  live
154   43  female    True       False  ...     3.1  42.000000      True   die

[155 rows x 20 columns]

In [44]:
df.fillna(df.select_dtypes(np.object).mode(axis=1,numeric_only= False))

/usr/local/lib/python3.7/dist-packages/pandas/core/algorithms.py:921: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'bool'
  warn(f"Unable to sort modes: {err}")

     age     sex steroid  antivirals  ... albumin protime histology class
0     30    male   False       False  ...     4.0     NaN     False  live
1     50  female   False       False  ...     3.5     NaN     False  live
2     78  female    True       False  ...     4.0     NaN     False  live
3     31  female     NaN        True  ...     4.0    80.0     False  live
4     34  female    True       False  ...     4.0     NaN     False  live
..   ...     ...     ...         ...  ...     ...     ...       ...   ...
150   46  female    True       False  ...     3.3    50.0      True   die
151   44  female    True       False  ...     4.3     NaN      True  live
152   61  female   False       False  ...     4.1     NaN      True  live
153   53    male   False       False  ...     4.1    48.0      True  live
154   43  female    True       False  ...     3.1    42.0      True   die

[155 rows x 20 columns]

### Normalización de los datos

La normalización de datos implica ajustar los valores medidos en diferentes escalas a una escala común. Cuando se trata de dataframes, la normalización de datos permite ajustar valores referidos a diferentes columnas a una escala común. Esta operación es muy recomendable cuando las columnas de un dataframes se van a usar como features de entrada de un algoritmo de aprendizaje automático, ya que impide que el algoritmo le asigne mayores pesos a las features de mayor escala.

La normalización se aplica solo a las columnas que contienen valores numéricos. Existen cinco métodos de normalización:

* single feature scaling
* min max
* z score
* escala logaritmica
* clipping

En el resto del práctico, aplicamos cada método a una sola columna. Sin embargo, si vas a utilizar cada columna del conjunto de datos como features de entrada de un algoritmo de aprendizaje automático, ***tenés que aplicar el mismo método de normalización a todas las columnas***.

En esta sección vamos a usar el dataset provisto por la Protezione Civile Italiana relacionado a los casos de COVID-19 registrados desde el inicio de la pandemia. Este dataset se actualiza diariamente y ell siguiente código se encarga de descargarlo.

In [45]:
df_italia = pd.read_csv('https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv')
df_italia.head(10)

                  data stato  ...  codice_nuts_1 codice_nuts_2
0  2020-02-24T18:00:00   ITA  ...            NaN           NaN
1  2020-02-24T18:00:00   ITA  ...            NaN           NaN
2  2020-02-24T18:00:00   ITA  ...            NaN           NaN
3  2020-02-24T18:00:00   ITA  ...            NaN           NaN
4  2020-02-24T18:00:00   ITA  ...            NaN           NaN
5  2020-02-24T18:00:00   ITA  ...            NaN           NaN
6  2020-02-24T18:00:00   ITA  ...            NaN           NaN
7  2020-02-24T18:00:00   ITA  ...            NaN           NaN
8  2020-02-24T18:00:00   ITA  ...            NaN           NaN
9  2020-02-24T18:00:00   ITA  ...            NaN           NaN

[10 rows x 30 columns]

A continuación elimine todas las columnas que contengan valores faltantes.

In [46]:
df_italia.dropna(axis=1)

                     data stato  codice_regione  ... deceduti  totale_casi  tamponi
0     2020-02-24T18:00:00   ITA              13  ...        0            0        5
1     2020-02-24T18:00:00   ITA              17  ...        0            0        0
2     2020-02-24T18:00:00   ITA              18  ...        0            0        1
3     2020-02-24T18:00:00   ITA              15  ...        0            0       10
4     2020-02-24T18:00:00   ITA               8  ...        0           18      148
...                   ...   ...             ...  ...      ...          ...      ...
8332  2021-03-26T17:00:00   ITA              19  ...     4535       169808  3069858
8333  2021-03-26T17:00:00   ITA               9  ...     5220       188800  3312214
8334  2021-03-26T17:00:00   ITA              10  ...     1237        50127   957768
8335  2021-03-26T17:00:00   ITA               2  ...      420         8873    91388
8336  2021-03-26T17:00:00   ITA               5  ...    10500       375500  6019629

[8337 rows x 17 columns]

#### Single Feature Scaling

Este método convierte cada valor de una columna en un número entre 0 y 1. El nuevo valor se calcula como el valor actual dividido por el valor máximo de la columna. Implementelo en la columna `tamponi`

In [49]:
df_italia['tamponi'] = df_italia['tamponi']/df_italia['tamponi'].max()
df_italia['tamponi']

0       6.294980e-07
1       0.000000e+00
2       1.258996e-07
3       1.258996e-06
4       1.863314e-05
            ...
8332    3.864939e-01
8333    4.170064e-01
8334    1.205826e-01
8335    1.150571e-02
8336    7.578689e-01
Name: tamponi, Length: 8337, dtype: float64

#### Min Max

De manera similar al método anterior, Min Max convierte cada valor de una columna en un número entre 0 y 1. El nuevo valor se calcula como la diferencia entre el valor actual y el valor mínimo, dividido por el rango de los valores de la columna. Implementelo para la columna `totale_casi`

In [52]:
df_italia['totale_casi'] = (df_italia['totale_casi'] - df_italia['totale_casi'].min())/(df_italia['totale_casi'].max() - df_italia['totale_casi'].min())
df_italia['totale_casi']

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000025
          ...
8332    0.236477
8333    0.262926
8334    0.069808
8335    0.012357
8336    0.522927
Name: totale_casi, Length: 8337, dtype: float64

#### Z Score

Z-Score convierte cada valor de una columna en un número alrededor de 0. Los valores típicos obtenidos por una transformación de z-score oscilan entre -3 y 3. 

El nuevo valor se calcula como la diferencia entre el valor actual y el valor promedio, dividido por la desviación estándar. El valor promedio de una columna se puede obtener a través de la función `mean()`, mientras que la desviación estándar a través de la función `std()`. 

Implementelo para la columna ```deceduti```

In [53]:
df_italia['deceduti'] = (df_italia['deceduti']-df_italia['deceduti'].mean())/df_italia['deceduti'].std()
df_italia['deceduti']

0      -0.506791
1      -0.506791
2      -0.506791
3      -0.506791
4      -0.506791
          ...
8332    0.534842
8333    0.692178
8334   -0.222668
8335   -0.410322
8336    1.904928
Name: deceduti, Length: 8337, dtype: float64

La siguiente función dibuja un gráfico de caja con los datos que recibe para poder observar su distribución. Utilicela pasando la versión normalizada de la columna `deceduti` del dataset como parámetro.

In [91]:
import matplotlib.pyplot as plt
import numpy as np
def boxplot(data):
  %matplotlib inline
  fig = plt.figure(figsize =(5, 5)) 
  plt.boxplot('df_italy')
  plt.show()
 df_italia.boxplot
#inserte su código aquí

IndentationError: ignored

En el gráfico de caja anterior se puede observar que a partir de cierto valor de Z los valores son outliers o valores anómalos.

La siguiente función también realiza un gráfico de caja, pero antes filtra todos los valores outliers en base a un parámetro threshold. Llame a la función pasando la versión normalizada de la columna `deceduti` del dataset como parámetro `data`. Además elija un valor para el parámetro `threshold` de manera de eliminar todos los outliers del dataset.

In [76]:
def boxplot_sin_outliers(data,threshold):
  outliers = np.where((data - threshold > 0), True, np.where(data + threshold < 0, True, False))
  data_sin_outliers = data[~outliers]
  fig = plt.figure(figsize =(10, 7)) 
  plt.boxplot(data_sin_outliers )
  plt.show()

#inserte su código aquí

#### Escala logarítmica

Acá básicamente aplicamos la función `log()` a toda la columna. Implemente esta normalización para la columna `dimessi_guariti` Hay que tener cuidado porque el logaritmo de 0 está indeterminado. Les recomendamos utilizar [funciones lambda](https://www.kite.com/python/answers/how-to-use-an-if-statement-in-a-lambda-function-in-python) para sortear esta restricción.

In [55]:
df_italia['dimessi_guariti'] = df_italia['dimessi_guariti'].apply(lambda x: np.log(x) if x != 0 else 0)
df_italia['dimessi_guariti']

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
8332    2.477448
8333    2.481558
8334    2.368722
8335    2.192449
8336    2.541095
Name: dimessi_guariti, Length: 8337, dtype: float64

## Parte 2: Manipulación de Datos

Repasá lo visto en la clase 2 sobre manipulación de tensores e intentá resolver los siguientes ejercicios.

Primero generemos un tensor de 28x28 llenado con el valor 0.25 en todas sus celdas. Luego generemos un segundo tensor de 28x28 con el valor 0.5 y otro con el valor 0.75

In [94]:
t1=torch.ones(28,28)*0.25

t2=torch.ones(28,28)*0.5

t3=torch.ones(28,28)*0.75

Ahora concatene los 3 tensores en uno solo de dimensión 3X28X28

In [95]:
tt = torch.stack((t1,t2,t3),dim=0)
tt

tensor([[[0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         ...,
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500]],

        [[0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         ...,
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000]],

        [[0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         ...,
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500]]])

Transformar el tensor anterior para que tenga 6 canales en lugar de 3. Organice las filas y columnas a su gusto.

In [96]:
ntt=tt.reshape(6,14,-1)
ntt

tensor([[[0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         ...,
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500]],

        [[0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         ...,
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500]],

        [[0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         ...,
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000]],

        [[0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         ...,
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000]],

        [[0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         ...,
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500]],

        [[0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         ...,
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500]]])

Devolver el valor de la suma de cada canal por separado. (Recordemos que en los vectores tridimensionales la forma es (canales, filas, columnas)

In [100]:
torch.sum(ntt[0])

torch.sum(ntt[2])

tensor(196.)

In [101]:
torch.sum(ntt[1])

tensor(98.)

In [104]:
torch.sum(ntt[2])

tensor(196.)

In [109]:
torch.sum(ntt[3])

tensor(196.)

In [110]:
torch.sum(ntt[4])

tensor(294.)

In [111]:
torch.sum(ntt[5])

tensor(294.)

Llenar la primera fila de cada canal con ceros y llenar el quinto canal con unos. Volver a generar las sumas para cada canal.

In [114]:
ntt[:,0,:]=0

ntt[4,:,:]=1
ntt

tensor([[[0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         ...,
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500]],

        [[0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         ...,
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500],
         [0.2500, 0.2500, 0.2500,  ..., 0.2500, 0.2500, 0.2500]],

        [[0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         ...,
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000]],

        [[0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         ...,
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000],
         [0.5000, 0.5000, 0.5000,  ..., 0.5000, 0.5000, 0.5000]],

        [[1.0000, 1.0000, 1.0000,  ..., 1.0000, 1.0000, 1.0000],
         [1.0000, 1.0000, 1.0000,  ..., 1.0000, 1.0000, 1.0000],
         [1.0000, 1.0000, 1.0000,  ..., 1.0000, 1.0000, 1.0000],
         ...,
         [1.0000, 1.0000, 1.0000,  ..., 1.0000, 1.0000, 1.0000],
         [1.0000, 1.0000, 1.0000,  ..., 1.0000, 1.0000, 1.0000],
         [1.0000, 1.0000, 1.0000,  ..., 1.0000, 1.0000, 1.0000]],

        [[0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         ...,
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500],
         [0.7500, 0.7500, 0.7500,  ..., 0.7500, 0.7500, 0.7500]]])

In [116]:
torch.sum(ntt[0])

tensor(91.)

Generar otro tensor con la misma forma que el anteriores, pero lleno de valores aleatorios.

In [119]:
r=torch.randn(6,14, 28)
r

tensor([[[ 2.1901e-01, -9.1494e-01, -2.3668e-01,  ..., -9.0872e-01,
          -4.0015e-01,  7.3447e-01],
         [-3.0724e-01,  5.0212e-01,  9.8726e-01,  ...,  1.0341e+00,
           2.6174e+00,  1.7510e-01],
         [-6.6159e-01, -5.9639e-01,  6.4070e-01,  ...,  1.7048e+00,
           8.2829e-01, -5.9184e-01],
         ...,
         [ 1.3011e-01,  2.4563e+00,  1.2310e+00,  ...,  7.3567e-01,
           1.0716e-01, -3.0320e-01],
         [-5.0159e-01,  2.0641e+00,  3.9743e-01,  ..., -1.0348e+00,
           1.0902e+00, -7.4665e-01],
         [ 4.9841e-01,  8.3404e-01, -5.7553e-01,  ...,  8.3741e-01,
          -1.6837e-01, -1.6128e-01]],

        [[ 3.4591e-02,  2.8510e-03,  7.7320e-01,  ..., -3.5644e-01,
           3.7821e-01,  2.0045e+00],
         [ 4.4869e-01,  7.2332e-01,  3.1104e-01,  ...,  1.1711e-01,
           6.4376e-01,  1.0557e-01],
         [-1.2959e-01, -9.4270e-01, -9.8519e-02,  ...,  1.9322e-01,
          -1.8601e+00,  3.3894e-01],
         ...,
         [-1.0696e-01,  9.6208e-01, -9.7726e-01,  ...,  1.8946e+00,
          -2.9210e-01,  1.0944e-01],
         [ 2.0464e-01, -1.6347e+00,  8.7868e-01,  ...,  1.8771e+00,
          -2.3429e-01, -4.0226e-01],
         [-2.5570e-01, -1.3078e+00, -5.8002e-02,  ...,  6.0586e-01,
          -5.1615e-01, -7.0107e-01]],

        [[-1.3185e+00, -2.1541e-01,  8.4118e-01,  ...,  1.0342e+00,
           1.7674e+00,  9.7579e-01],
         [ 1.0091e+00, -3.7206e-01, -1.0449e+00,  ...,  1.5291e+00,
           1.4842e+00,  1.7451e-01],
         [ 1.9275e+00, -2.3702e+00,  5.3213e-01,  ...,  8.5985e-01,
          -8.9027e-01,  5.0960e-02],
         ...,
         [ 6.6221e-01, -2.2859e+00,  8.6310e-01,  ..., -2.7460e-01,
           8.9898e-01, -5.9461e-01],
         [ 1.5830e+00, -8.1663e-01,  1.0296e+00,  ..., -3.3374e-01,
          -8.6974e-01, -5.8484e-01],
         [ 1.8409e-03,  2.1433e+00,  1.1553e+00,  ...,  1.3450e+00,
          -1.0115e+00,  7.2699e-01]],

        [[-5.1324e-01, -1.0979e+00,  7.2575e-01,  ..., -7.0640e-01,
           6.2304e-01,  2.5446e-01],
         [ 1.2007e+00,  1.0113e-01, -8.8898e-01,  ..., -9.7802e-01,
           2.6767e-01, -1.0553e+00],
         [ 4.7011e-01,  1.4749e+00, -1.5598e+00,  ..., -3.5161e-01,
          -6.8729e-01, -4.2074e-01],
         ...,
         [-2.8370e-01,  4.8684e-01, -1.1579e+00,  ...,  1.6110e-01,
           2.3562e-01, -1.7525e+00],
         [-1.1091e+00,  1.5064e+00, -1.0216e+00,  ..., -1.4922e+00,
          -1.5807e+00,  1.4259e+00],
         [-5.5303e-01, -9.3011e-02, -3.6174e-01,  ...,  4.3006e-01,
           1.9585e+00, -1.3974e+00]],

        [[ 1.0045e+00,  6.5517e-01,  5.1982e-01,  ...,  5.9255e-01,
           5.8070e-02,  2.6355e-01],
         [ 8.7379e-01, -1.7605e-01, -2.3069e+00,  ..., -3.7091e-01,
          -2.5447e-01,  4.6311e-01],
         [-5.1383e-01,  1.9497e-01,  9.2422e-02,  ...,  2.0813e-01,
           2.3873e+00, -3.6825e-01],
         ...,
         [ 6.3908e-01, -2.3209e-01,  1.1476e+00,  ..., -1.0715e-03,
           7.9600e-02,  1.0311e+00],
         [ 1.1266e+00,  6.4635e-01,  4.3632e-01,  ..., -7.8908e-01,
          -1.7709e+00,  4.1896e-01],
         [-1.5266e+00, -2.5002e-01,  4.4907e-01,  ..., -4.9708e-02,
          -1.2162e-01,  4.8651e-01]],

        [[ 1.6897e+00,  1.1451e+00, -6.0031e-01,  ...,  1.1967e+00,
           3.5536e-01,  1.6589e-01],
         [ 2.0365e-01, -1.1185e-01, -3.0048e-01,  ...,  2.3031e-01,
          -1.7734e+00, -4.6074e-01],
         [-1.2555e+00,  5.9904e-01, -1.2522e+00,  ..., -1.0983e-02,
          -7.9456e-01,  5.9917e-01],
         ...,
         [ 3.0494e-01,  1.0236e+00, -4.9723e-01,  ..., -1.8674e+00,
          -3.4928e-01, -1.0209e+00],
         [-1.3790e+00, -5.0080e-01, -6.3459e-01,  ...,  9.6847e-01,
           8.5523e-02,  1.2796e-01],
         [ 2.9543e-01,  6.6488e-01,  1.5518e+00,  ...,  2.3548e-01,
           1.5927e+00, -5.3089e-01]]])

Concatenar ambos tensores tridimensionales en un tensor de cuatro dimensiones.

In [121]:
tr = torch.stack((ntt,r),dim=0)
tr

tensor([[[[ 0.0000e+00,  0.0000e+00,  0.0000e+00,  ...,  0.0000e+00,
            0.0000e+00,  0.0000e+00],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          ...,
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01]],

         [[ 0.0000e+00,  0.0000e+00,  0.0000e+00,  ...,  0.0000e+00,
            0.0000e+00,  0.0000e+00],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          ...,
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01],
          [ 2.5000e-01,  2.5000e-01,  2.5000e-01,  ...,  2.5000e-01,
            2.5000e-01,  2.5000e-01]],

         [[ 0.0000e+00,  0.0000e+00,  0.0000e+00,  ...,  0.0000e+00,
            0.0000e+00,  0.0000e+00],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          ...,
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01]],

         [[ 0.0000e+00,  0.0000e+00,  0.0000e+00,  ...,  0.0000e+00,
            0.0000e+00,  0.0000e+00],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          ...,
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01],
          [ 5.0000e-01,  5.0000e-01,  5.0000e-01,  ...,  5.0000e-01,
            5.0000e-01,  5.0000e-01]],

         [[ 1.0000e+00,  1.0000e+00,  1.0000e+00,  ...,  1.0000e+00,
            1.0000e+00,  1.0000e+00],
          [ 1.0000e+00,  1.0000e+00,  1.0000e+00,  ...,  1.0000e+00,
            1.0000e+00,  1.0000e+00],
          [ 1.0000e+00,  1.0000e+00,  1.0000e+00,  ...,  1.0000e+00,
            1.0000e+00,  1.0000e+00],
          ...,
          [ 1.0000e+00,  1.0000e+00,  1.0000e+00,  ...,  1.0000e+00,
            1.0000e+00,  1.0000e+00],
          [ 1.0000e+00,  1.0000e+00,  1.0000e+00,  ...,  1.0000e+00,
            1.0000e+00,  1.0000e+00],
          [ 1.0000e+00,  1.0000e+00,  1.0000e+00,  ...,  1.0000e+00,
            1.0000e+00,  1.0000e+00]],

         [[ 0.0000e+00,  0.0000e+00,  0.0000e+00,  ...,  0.0000e+00,
            0.0000e+00,  0.0000e+00],
          [ 7.5000e-01,  7.5000e-01,  7.5000e-01,  ...,  7.5000e-01,
            7.5000e-01,  7.5000e-01],
          [ 7.5000e-01,  7.5000e-01,  7.5000e-01,  ...,  7.5000e-01,
            7.5000e-01,  7.5000e-01],
          ...,
          [ 7.5000e-01,  7.5000e-01,  7.5000e-01,  ...,  7.5000e-01,
            7.5000e-01,  7.5000e-01],
          [ 7.5000e-01,  7.5000e-01,  7.5000e-01,  ...,  7.5000e-01,
            7.5000e-01,  7.5000e-01],
          [ 7.5000e-01,  7.5000e-01,  7.5000e-01,  ...,  7.5000e-01,
            7.5000e-01,  7.5000e-01]]],


        [[[ 2.1901e-01, -9.1494e-01, -2.3668e-01,  ..., -9.0872e-01,
           -4.0015e-01,  7.3447e-01],
          [-3.0724e-01,  5.0212e-01,  9.8726e-01,  ...,  1.0341e+00,
            2.6174e+00,  1.7510e-01],
          [-6.6159e-01, -5.9639e-01,  6.4070e-01,  ...,  1.7048e+00,
            8.2829e-01, -5.9184e-01],
          ...,
          [ 1.3011e-01,  2.4563e+00,  1.2310e+00,  ...,  7.3567e-01,
            1.0716e-01, -3.0320e-01],
          [-5.0159e-01,  2.0641e+00,  3.9743e-01,  ..., -1.0348e+00,
            1.0902e+00, -7.4665e-01],
          [ 4.9841e-01,  8.3404e-01, -5.7553e-01,  ...,  8.3741e-01,
           -1.6837e-01, -1.6128e-01]],

         [[ 3.4591e-02,  2.8510e-03,  7.7320e-01,  ..., -3.5644e-01,
            3.7821e-01,  2.0045e+00],
          [ 4.4869e-01,  7.2332e-01,  3.1104e-01,  ...,  1.1711e-01,
            6.4376e-01,  1.0557e-01],
          [-1.2959e-01, -9.4270e-01, -9.8519e-02,  ...,  1.9322e-01,
           -1.8601e+00,  3.3894e-01],
          ...,
          [-1.0696e-01,  9.6208e-01, -9.7726e-01,  ...,  1.8946e+00,
           -2.9210e-01,  1.0944e-01],
          [ 2.0464e-01, -1.6347e+00,  8.7868e-01,  ...,  1.8771e+00,
           -2.3429e-01, -4.0226e-01],
          [-2.5570e-01, -1.3078e+00, -5.8002e-02,  ...,  6.0586e-01,
           -5.1615e-01, -7.0107e-01]],

         [[-1.3185e+00, -2.1541e-01,  8.4118e-01,  ...,  1.0342e+00,
            1.7674e+00,  9.7579e-01],
          [ 1.0091e+00, -3.7206e-01, -1.0449e+00,  ...,  1.5291e+00,
            1.4842e+00,  1.7451e-01],
          [ 1.9275e+00, -2.3702e+00,  5.3213e-01,  ...,  8.5985e-01,
           -8.9027e-01,  5.0960e-02],
          ...,
          [ 6.6221e-01, -2.2859e+00,  8.6310e-01,  ..., -2.7460e-01,
            8.9898e-01, -5.9461e-01],
          [ 1.5830e+00, -8.1663e-01,  1.0296e+00,  ..., -3.3374e-01,
           -8.6974e-01, -5.8484e-01],
          [ 1.8409e-03,  2.1433e+00,  1.1553e+00,  ...,  1.3450e+00,
           -1.0115e+00,  7.2699e-01]],

         [[-5.1324e-01, -1.0979e+00,  7.2575e-01,  ..., -7.0640e-01,
            6.2304e-01,  2.5446e-01],
          [ 1.2007e+00,  1.0113e-01, -8.8898e-01,  ..., -9.7802e-01,
            2.6767e-01, -1.0553e+00],
          [ 4.7011e-01,  1.4749e+00, -1.5598e+00,  ..., -3.5161e-01,
           -6.8729e-01, -4.2074e-01],
          ...,
          [-2.8370e-01,  4.8684e-01, -1.1579e+00,  ...,  1.6110e-01,
            2.3562e-01, -1.7525e+00],
          [-1.1091e+00,  1.5064e+00, -1.0216e+00,  ..., -1.4922e+00,
           -1.5807e+00,  1.4259e+00],
          [-5.5303e-01, -9.3011e-02, -3.6174e-01,  ...,  4.3006e-01,
            1.9585e+00, -1.3974e+00]],

         [[ 1.0045e+00,  6.5517e-01,  5.1982e-01,  ...,  5.9255e-01,
            5.8070e-02,  2.6355e-01],
          [ 8.7379e-01, -1.7605e-01, -2.3069e+00,  ..., -3.7091e-01,
           -2.5447e-01,  4.6311e-01],
          [-5.1383e-01,  1.9497e-01,  9.2422e-02,  ...,  2.0813e-01,
            2.3873e+00, -3.6825e-01],
          ...,
          [ 6.3908e-01, -2.3209e-01,  1.1476e+00,  ..., -1.0715e-03,
            7.9600e-02,  1.0311e+00],
          [ 1.1266e+00,  6.4635e-01,  4.3632e-01,  ..., -7.8908e-01,
           -1.7709e+00,  4.1896e-01],
          [-1.5266e+00, -2.5002e-01,  4.4907e-01,  ..., -4.9708e-02,
           -1.2162e-01,  4.8651e-01]],

         [[ 1.6897e+00,  1.1451e+00, -6.0031e-01,  ...,  1.1967e+00,
            3.5536e-01,  1.6589e-01],
          [ 2.0365e-01, -1.1185e-01, -3.0048e-01,  ...,  2.3031e-01,
           -1.7734e+00, -4.6074e-01],
          [-1.2555e+00,  5.9904e-01, -1.2522e+00,  ..., -1.0983e-02,
           -7.9456e-01,  5.9917e-01],
          ...,
          [ 3.0494e-01,  1.0236e+00, -4.9723e-01,  ..., -1.8674e+00,
           -3.4928e-01, -1.0209e+00],
          [-1.3790e+00, -5.0080e-01, -6.3459e-01,  ...,  9.6847e-01,
            8.5523e-02,  1.2796e-01],
          [ 2.9543e-01,  6.6488e-01,  1.5518e+00,  ...,  2.3548e-01,
            1.5927e+00, -5.3089e-01]]]])

In [122]:
tr.shape

torch.Size([2, 6, 14, 28])

Generar un tercer tensor tridimensional que sea la resta de los otros dos y concatenarlo al tensor de cuatro dimensiones.

In [123]:
d=ntt-r
d

tensor([[[-2.1901e-01,  9.1494e-01,  2.3668e-01,  ...,  9.0872e-01,
           4.0015e-01, -7.3447e-01],
         [ 5.5724e-01, -2.5212e-01, -7.3726e-01,  ..., -7.8406e-01,
          -2.3674e+00,  7.4905e-02],
         [ 9.1159e-01,  8.4639e-01, -3.9070e-01,  ..., -1.4548e+00,
          -5.7829e-01,  8.4184e-01],
         ...,
         [ 1.1989e-01, -2.2063e+00, -9.8105e-01,  ..., -4.8567e-01,
           1.4284e-01,  5.5320e-01],
         [ 7.5159e-01, -1.8141e+00, -1.4743e-01,  ...,  1.2848e+00,
          -8.4021e-01,  9.9665e-01],
         [-2.4841e-01, -5.8404e-01,  8.2553e-01,  ..., -5.8741e-01,
           4.1837e-01,  4.1128e-01]],

        [[-3.4591e-02, -2.8510e-03, -7.7320e-01,  ...,  3.5644e-01,
          -3.7821e-01, -2.0045e+00],
         [-1.9869e-01, -4.7332e-01, -6.1042e-02,  ...,  1.3289e-01,
          -3.9376e-01,  1.4443e-01],
         [ 3.7959e-01,  1.1927e+00,  3.4852e-01,  ...,  5.6778e-02,
           2.1101e+00, -8.8943e-02],
         ...,
         [ 3.5696e-01, -7.1208e-01,  1.2273e+00,  ..., -1.6446e+00,
           5.4210e-01,  1.4056e-01],
         [ 4.5363e-02,  1.8847e+00, -6.2868e-01,  ..., -1.6271e+00,
           4.8429e-01,  6.5226e-01],
         [ 5.0570e-01,  1.5578e+00,  3.0800e-01,  ..., -3.5586e-01,
           7.6615e-01,  9.5107e-01]],

        [[ 1.3185e+00,  2.1541e-01, -8.4118e-01,  ..., -1.0342e+00,
          -1.7674e+00, -9.7579e-01],
         [-5.0912e-01,  8.7206e-01,  1.5449e+00,  ..., -1.0291e+00,
          -9.8422e-01,  3.2549e-01],
         [-1.4275e+00,  2.8702e+00, -3.2129e-02,  ..., -3.5985e-01,
           1.3903e+00,  4.4904e-01],
         ...,
         [-1.6221e-01,  2.7859e+00, -3.6310e-01,  ...,  7.7460e-01,
          -3.9898e-01,  1.0946e+00],
         [-1.0830e+00,  1.3166e+00, -5.2965e-01,  ...,  8.3374e-01,
           1.3697e+00,  1.0848e+00],
         [ 4.9816e-01, -1.6433e+00, -6.5533e-01,  ..., -8.4499e-01,
           1.5115e+00, -2.2699e-01]],

        [[ 5.1324e-01,  1.0979e+00, -7.2575e-01,  ...,  7.0640e-01,
          -6.2304e-01, -2.5446e-01],
         [-7.0066e-01,  3.9887e-01,  1.3890e+00,  ...,  1.4780e+00,
           2.3233e-01,  1.5553e+00],
         [ 2.9889e-02, -9.7490e-01,  2.0598e+00,  ...,  8.5161e-01,
           1.1873e+00,  9.2074e-01],
         ...,
         [ 7.8370e-01,  1.3162e-02,  1.6579e+00,  ...,  3.3890e-01,
           2.6438e-01,  2.2525e+00],
         [ 1.6091e+00, -1.0064e+00,  1.5216e+00,  ...,  1.9922e+00,
           2.0807e+00, -9.2591e-01],
         [ 1.0530e+00,  5.9301e-01,  8.6174e-01,  ...,  6.9944e-02,
          -1.4585e+00,  1.8974e+00]],

        [[-4.4763e-03,  3.4483e-01,  4.8018e-01,  ...,  4.0745e-01,
           9.4193e-01,  7.3645e-01],
         [ 1.2621e-01,  1.1761e+00,  3.3069e+00,  ...,  1.3709e+00,
           1.2545e+00,  5.3689e-01],
         [ 1.5138e+00,  8.0503e-01,  9.0758e-01,  ...,  7.9187e-01,
          -1.3873e+00,  1.3683e+00],
         ...,
         [ 3.6092e-01,  1.2321e+00, -1.4758e-01,  ...,  1.0011e+00,
           9.2040e-01, -3.1146e-02],
         [-1.2661e-01,  3.5365e-01,  5.6368e-01,  ...,  1.7891e+00,
           2.7709e+00,  5.8104e-01],
         [ 2.5266e+00,  1.2500e+00,  5.5093e-01,  ...,  1.0497e+00,
           1.1216e+00,  5.1349e-01]],

        [[-1.6897e+00, -1.1451e+00,  6.0031e-01,  ..., -1.1967e+00,
          -3.5536e-01, -1.6589e-01],
         [ 5.4635e-01,  8.6185e-01,  1.0505e+00,  ...,  5.1969e-01,
           2.5234e+00,  1.2107e+00],
         [ 2.0055e+00,  1.5096e-01,  2.0022e+00,  ...,  7.6098e-01,
           1.5446e+00,  1.5083e-01],
         ...,
         [ 4.4506e-01, -2.7356e-01,  1.2472e+00,  ...,  2.6174e+00,
           1.0993e+00,  1.7709e+00],
         [ 2.1290e+00,  1.2508e+00,  1.3846e+00,  ..., -2.1847e-01,
           6.6448e-01,  6.2204e-01],
         [ 4.5457e-01,  8.5121e-02, -8.0181e-01,  ...,  5.1452e-01,
          -8.4270e-01,  1.2809e+00]]])